{{!-- unlike views , partials are a piece of html that we can re-use  --}}
<header>
    <h1> {{title}} </h1>
<div>
    <a href='/'>Weather</a>
    <a href='/about'> About me</a>
    <a href='/help'> Help page </a>
</div>
</header>

